# Copiar este archivo a .env y cambiar los valores.
POSTGRES_ADMIN_USER=postgres_admin
POSTGRES_ADMIN_PASSWORD=VifAdmin2026

DB_HOST=localhost
DB_PORT=5432
DB_NAME=vif_db
DB_USER=vif_app
DB_PASSWORD=VifApp2026